       <!-- <div>
                   <p>autorisation:</p>
                    
                <input type="text" [(ngModel)]="fimage.autorisation" />
   
              <button (click)="fimageEnf()"> Valider le Formulaire de Image </button>

</div> -->

<div class="container spacer">
    <div class="form-check">
    <input type="radio" class="form-check-input" name="this.fimage.autorisation" value="true">
    <label class="form-check-label" >Autorisation</label><br/>

    <input type="radio" class="form-check-input" name="this.fimage.autorisation" value="false">
    <label class="form-check-label" >Refus</label>

  </div> 
  <div> <button (click)="fimageEnf()"> Valider le Formulaire de Image </button> </div>





<!-- <div class="container">
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" [(ngModel)]="fimage.autorisation" ng-value="true"> <label> Autorise</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" [(ngModel)]="fimage.autorisation" ng-value="false"> <label> Refuse</label>
    </div>
    <div>
        <button (click)="fimageEnf()"> Valider le Formulaire de Image </button>
    </div>
</div> -->
</div>