<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Formulaire Principal de l'enfant a completer</div>
        <div class="pannel-body">
       
            <table>
                <tr>
                    <td>Adresse:</td>
                    <td> 
                <input type="text" [(ngModel)]="fprincipale.adresse" />
                </td>
                </tr>
                <tr>
                    <td>Antecedents:</td>
                    <td><input type="text" [(ngModel)]="fprincipale.telephone" /></td>
                </tr>
                
            </table>
             <button (click)="fprincipaleEnf()"> Ajouter le formulaire principal</button>

        </div>
    </div>




</div>