<br/><h2>notice</h2><br/><br/>
<!---------------------------  Liste des Responsables legaux en BDD ----------------------> 
<p>ETAPE 1 : Cliquer sur les boutons de la ligne de votre enfant, pour creer un formulaire et lui attribuer.</p><br/>
  <!-- <app-list-resplegals></app-list-resplegals>
<br/><br/> -->

<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste Responsable Legal</div>
        <div class="pannel-body">
            <table class="table table-striped">
                <tr>
                    <td>idResp</td>
                    <td>nomResp</td>
                    <td>prenomResp</td>
                    <td>Attribuer un enfant</td>
                </tr>
                <tr *ngFor="let p of pageRespLegals">
                    <td>{{p.idResp}}</td>
                    <td>{{p.nomResp}}</td>
                    <td>{{p.prenomResp}}</td>
                    <td><button (click)="versAttribuerEnfResp(p.idResp)">S'attribuer un enfant</button> </td> 
                    </tr> 
                </table> 
            </div> 
        </div> 
    </div>





<!---------------------------  Liste des enfants en BDD ---------------------->
  <p>ETAPE 2 : Cliquer sur les boutons de la ligne de votre enfant, pour creer un formulaire et lui attribuer.</p><br/>

<div>
    <tr>
        <div class="container">
            <h2>Liste des enfants en BDD</h2>
            <table class="table table-striped">
                <tr>
                    <td>ID Responsable legal</td>
                    <td>ID Enfant</td>
                    <td>Nom de l'enfant</td>
                    <td>Prenom de l'enfant</td>
                    <td>Age</td>
                    <td>Creer + attribuer fiche principale</td>
                    <td>Creer + attribuer fiche medicale </td>
                    <td>Creer + attribuer fiche droit image</td>
                    <td>Creer + attribuer fiche vaccination </td>
                    <td>Modifier attribution enfant </td>
                </tr>

                    <tr *ngFor="let e of listEnfants">                   
                        <td>{{e.idResp}}</td>
                        <td>{{e.idEnf}}</td>
                        <td>{{e.nomEnf}}</td>
                        <td>{{e.prenomEnf}}</td>
                        <td>{{e.age}}</td>

                        <td><button (click)="versfMedicale(e.idEnf)">Formulaire medical</button> </td>
                        <td><button (click)="versfPrincipale(e.idEnf)">Formulaire principal</button> </td>
                        <td><button (click)="versfImage(e.idEnf)">Formulaire image</button> </td>
                        <td><button (click)="versfVaccination(e.idEnf)">Formulaire vaccination</button> </td> 
                        <td><button (click)="versModifierRespLegal(e.idEnf)">Formulaire vaccination</button> </td> 
                    </tr>
            </table>
        </div>