<div>
    <tr>
        <div class="container">
            <h2>Liste des enfants en BDD</h2>
            <table class="table table-striped">
                <tr>
                    <td>ID Responsable legal</td>
                    <td>ID Enfant</td>
                    <td>Nom de l'enfant</td>
                    <td>Prenom de l'enfant</td>
                    <td>Age</td>
                    <td>Fiche principale</td>
                    <td>Fiche medicale </td>
                    <td>Fiche droit a l'image </td>
                    <td>Fiche vaccination </td>
                </tr>

                    <tr *ngFor="let e of listEnfants">                   
                        <td>{{e.idResp}}</td>
                        <td>{{e.idEnf}}</td>
                        <td>{{e.nomEnf}}</td>
                        <td>{{e.prenomEnf}}</td>
                        <td>{{e.age}}</td>

                        <td><button (click)="versfMedicale(e.idEnf)">Formulaire Medical</button> </td>
                        <td><button (click)="versfPrincipale(e.idEnf)">Formulaire Principal</button> </td>
                        <td><button (click)="versfImage(e.idEnf)">Formulaire Image</button> </td>
                        <td><button (click)="versfVaccination(e.idEnf)">Formulaire Vaccination</button> </td> 
                    </tr>
            </table>
        </div>