<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Ajouter Club</div>
        <div class="pannel-body">
       
            <table>
                <tr>
                    <td>Discipline:</td>
                    <td> 
                <input type="text" [(ngModel)]="club.discipline" />
                </td>
                </tr>
                
            </table>
             <button (click)="addClub()"> Ajouter club</button>

        </div>
    </div>

</div>