<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Ajouter Responsable légal</div>
        <div class="pannel-body">
       
            <table>
                <tr>
                    <td>Nom Responsable légal:</td>
                    <td> 
                <input type="text" [(ngModel)]="respLegal.nomResp" />
                </td>
                </tr>
                <tr>
                    <td>prenom Responsable légal:</td>
                    <td><input type="text" [(ngModel)]="respLegal.prenomResp" /></td>
                </tr>
            </table>
             <button (click)="editRespLegal()"> Ajouter Responsable légal</button>

        </div>
    </div>




</div>